.menu {
    text-align: center;
    font-size: 2vw;
    border: 0.4vh solid #53c951;
    border-radius: 2svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    width: 40%;
    height: 60%;
    margin: auto;
}

.menu-header {
    margin: 0 0 8svh 0;
}

.items {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media(min-width: 320px) {
    .menu {
        width: 100%;
    }
}


@media(min-width: 800px) {
    .menu {
        width: 40%;
    }
}